**/*.cache
**/*.md
**/*.adoc
**/.DS_Store
**/._*
**/.dockerignore
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/Dockerfile
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
.idea/
.vscode/
.angular/
.editorconfig
coverage/
doc/
node_modules/
scripts/
