<input
  hidden
  type="file"
  id="fileUpload"
  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
  #fileUpload
  (change)="onFileSelected($event)"
/>
<mat-error *ngIf="invalidMessage">
  {{ invalidMessage }}
</mat-error>

<button mat-stroked-button color="primary" class="btn-choose-file" (click)="fileUpload.click()">
  <mat-icon>upload</mat-icon>
  <ng-container *ngIf="file; else noFile">{{ file.name }}</ng-container>
  <ng-template #noFile>Choisir un fichier Excel</ng-template>
</button>

<button
  mat-flat-button
  color="primary"
  class="btn-upload"
  title="Télécharger le fichier Excel"
  [disabled]="disabled"
  (click)="submit()"
>
  Télécharger
</button>
