<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Nom du groupe</mat-label>
    <input matInput formControlName="nomDuGroupe" required />
    <mat-error *ngIf="nomDuGroupe.invalid">
      {{ nomDuGroupeErrorMessage() }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Origine</mat-label>
    <input matInput formControlName="origine" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Ville</mat-label>
    <input matInput formControlName="ville" />
  </mat-form-field>

  <br />

  <!-- TODO: use a date picker -->
  <mat-form-field>
    <mat-label>Année de début</mat-label>
    <input matInput formControlName="anneeDebut" />
    <mat-error *ngIf="anneeDebut.invalid">
      {{ anneeDebutErrorMessage() }}
    </mat-error>
  </mat-form-field>

  <!-- TODO: use a date picker -->
  <mat-form-field>
    <mat-label>Année de séparation</mat-label>
    <input matInput formControlName="anneeSeparation" />
    <mat-error *ngIf="anneeSeparation.invalid">
      {{ anneeSeparationErrorMessage() }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Fondateurs</mat-label>
    <input matInput formControlName="fondateurs" />
  </mat-form-field>

  <br />

  <mat-form-field>
    <mat-label>Membres</mat-label>
    <input matInput type="number" formControlName="membres" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Courant musical</mat-label>
    <input matInput type="number" formControlName="courantMusical" />
  </mat-form-field>

  <br />

  <mat-form-field class="w100">
    <mat-label>Présentation</mat-label>
    <textarea matInput formControlName="presentation" rows="4"></textarea>
  </mat-form-field>

  <mat-card *ngIf="errorDetail">
    <mat-error>{{ errorDetail }}</mat-error>
  </mat-card>

  <div class="actions">
    <button mat-flat-button (click)="close()">Annuler</button>
    <button
      mat-flat-button
      color="primary"
      (click)="submit()"
      [disabled]="!(form.valid && form.dirty)"
    >
      <span *ngIf="data">Modifier le groupe</span>
      <span *ngIf="!data">Ajouter un groupe</span>
    </button>
  </div>
</form>
