<main>
  <app-data-toolbar></app-data-toolbar>
  <app-data-table></app-data-table>
</main>
<footer>
  <div class="container">
    <a
      href="https://github.com/jprivet-dev"
      target="_blank"
      title="@jprivet-dev on GitHub"
    >
      @jprivet-dev
    </a>
    <a
      href="https://github.com/jprivet-dev/excel-editor-spa"
      target="_blank"
      title="The Excel Editor SPA project on GitHub"
      class="ms-auto"
    >
      Excel Editor SPA
    </a>
    <a
      href="https://github.com/jprivet-dev/excel-editor-api"
      title="The Excel Editor API project on GitHub"
      target="_blank"
    >
      Excel Editor API
    </a>
  </div>
</footer>
