footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #F8F9FA;

  .container {
    width: auto;
    display: flex;
    padding: 1rem 2rem;
    margin-right: auto;
    margin-left: auto;
    border-top: 1px solid #dee2e6;

    span {
      color: rgba(0,0,0,.54);
    }

    a {
      color: rgba(0,0,0,.54);
      text-decoration: none;
      margin-left: 0.5rem;
      margin-right: 0.5rem;

      &:hover, &:focus {
        color: #0A58CAFF;
        text-decoration: underline;
      }
    }
  }
}
