html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*, ::after, ::before {
  box-sizing: border-box;
}

label.required::after {
  content: " *";
  color: red;
}

.mb {
  margin-bottom: 1rem;
}

.mr {
  margin-right: 1rem;
}

.ms-auto {
  margin-left: auto!important;
}

.center {
  text-align: center;
}

.pink {
  color: #ff4081;
}

.danger {
  color: #f44336;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.mat-icon {
  vertical-align: text-top;
}
