/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @import "~bootstrap/scss/bootstrap";

label.required::after {
  content: " *";
  color: red;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mb {
  margin-bottom: 1rem;
}

.mr {
  margin-right: 1rem;
}

.center {
  text-align: center;
}

.pink {
  color: #ff4081;
}

.danger {
  color: #f44336;
}

.mat-icon {
  vertical-align: text-top;
}
